@font-face {
    font-family: KuenstlerSchreibschriftBQ-Bold;
    src: url(fonts/KuenstlerSchreibschriftBQ-Bold.otf);
}

@font-face {
    font-family: Didot;
    src: url(fonts/didot/Didot-HTF-L24-Light.ttf);
}

@font-face {
    font-family: Times-Roman;
    src: url(fonts/OPTITimes-Roman.otf); 
}

@font-face {
    font-family: Futura;
    src: url(fonts/futura-light-bt.ttf);
}

@font-face {
    font-family: Kunstler-Script;
    src: url(fonts/Kunstler-Script.ttf);
}

@font-face {
    font-family: ChaletComprime;
    src: url(fonts/ChaletComprime.ttf);
}

@font-face {
    font-family: Thiamine;
    src: url(fonts/thiamine.ttf);
}

@font-face {
    font-family: Modern;
    src: url(fonts/Modern.ttf);
}