$f-size: 25px;
$f-stack: 'PT Sans Narrow', sans-serif;
$f-stack2: 'Michroma', sans-serif;
$f-chopard: 'KuenstlerSchreibschriftBQ-Bold';
$f-am: 'Playfair Display', serif; 

$f-color: #2E2B05;
$f-color2: #D7D6CE;
$f-color-gold: #ffd700;
$f-weight: 300;

$color-button: #8F8D81;
$active-button: #CECEC0;
$border-color: #D7D3BF;
$area-color: #FFFEF9;

$back-color: #F3F2DF;
$back-color-hover: #37342A;

$back-color-hf: #313025;
$bcd: #F1F7E5;