@charset "UTF-8";
@font-face {
  font-family: KuenstlerSchreibschriftBQ-Bold;
  src: url(fonts/KuenstlerSchreibschriftBQ-Bold.otf); }
@font-face {
  font-family: Didot;
  src: url(fonts/didot/Didot-HTF-L24-Light.ttf); }
@font-face {
  font-family: Times-Roman;
  src: url(fonts/OPTITimes-Roman.otf); }
@font-face {
  font-family: Futura;
  src: url(fonts/futura-light-bt.ttf); }
@font-face {
  font-family: Kunstler-Script;
  src: url(fonts/Kunstler-Script.ttf); }
@font-face {
  font-family: ChaletComprime;
  src: url(fonts/ChaletComprime.ttf); }
@font-face {
  font-family: Thiamine;
  src: url(fonts/thiamine.ttf); }
@font-face {
  font-family: Modern;
  src: url(fonts/Modern.ttf); }
.designer-info {
  margin-left: 221px;
  background-color: #F1F7E5;
  overflow: hidden;
  font-family: 'Modern'; }
  .designer-info-image {
    min-width: 100%;
    width: 100%;
    border-left: 3px solid #F1F7E5; }
  .designer-info-wrapp {
    padding: 20px;
    font-size: 15px;
    text-align: justify;
    line-height: 30px; }
    .designer-info-wrapp-name {
      text-transform: uppercase;
      margin-bottom: 10px; }

body {
  margin: 0;
  font-family: "Michroma", sans-serif;
  font-size: 25px;
  font-weight: 300;
  background-color: #FFFEF9; }
  body::after {
    content: "";
    display: block;
    clear: both; }

/*╨Т╨╡╤А╤Е╨╜╤П ╨╗╤Ц╨╜╤Ц╤П ╨╖ ╨┐╨╛╤И╤Г╨║╨╛╨╝*/
.main-line {
  width: 100%;
  background-color: #313025; }
  .main-line::after {
    content: "";
    display: block;
    clear: both; }
  .main-line-logo {
    float: left;
    color: #D7D6CE;
    line-height: 50px;
    margin-left: 30px;
    text-decoration: none; }
  .main-line-search {
    display: inline-block;
    float: right;
    line-height: 50px;
    margin-right: 30px; }
    .main-line-search-input {
      background-color: #FFFEF9;
      border: none;
      width: 300px;
      height: 25px; }
      .main-line-search-input:hover {
        border: 1px solid #D7D3BF; }
    .main-line-search-button {
      width: 90px;
      height: 30px;
      border: none;
      background-color: #8F8D81;
      color: #D7D6CE;
      font-family: "Michroma", sans-serif;
      cursor: pointer; }
      .main-line-search-button:hover {
        border: 1px solid #D7D3BF; }
      .main-line-search-button:active {
        background-color: #CECEC0;
        color: #2E2B05; }

/*╤В╤Ц╨╗╨╛*/
/*╨╜╨░╨▓╤Цu╨░╤Ж╤Ц╤П ╨╖╨╗╤Ц╨▓╨░*/
.bar {
  float: left;
  padding-right: 40px; }
  .bar-list {
    padding: 0;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400; }
    .bar-list-elements {
      list-style-type: none;
      text-align: center; }
      .bar-list-elements:last-child {
        padding-bottom: 25px; }
      .bar-list-elements-links {
        text-decoration: none;
        color: #2E2B05;
        display: block;
        padding: 25px 10px;
        position: relative; }
        .bar-list-elements-links::after {
          background-color: #2E2B05;
          bottom: -4px;
          content: "";
          height: 1px;
          left: 0;
          opacity: 0;
          position: absolute;
          right: 0;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          transform-origin: 50% 50% 0;
          -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          width: auto; }
        .bar-list-elements-links:hover {
          opacity: 1;
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1); }
          .bar-list-elements-links:hover::after {
            opacity: 1;
            transform: scaleX(1); }

/*╨Ю╤Б╨╜╨╛╨▓╨╜╨╕╨╣ ╨║╨╛╨╜╤В╨╡╨╜╤В*/
.hover-effect {
  transform: scale(1);
  overflow: hidden;
  opacity: 0.5;
  transition-duration: 0.6s;
  transform-origin: 50% 50% 0; }
  .hover-effect:hover {
    transform: scale(1.25);
    opacity: 1; }

.main-content {
  float: right;
  width: calc(100% - 450px);
  margin-top: 40px;
  margin-right: 10px; }
  .main-content::after {
    content: "";
    display: block;
    clear: both; }
  .main-content-brend {
    margin-top: 35px;
    max-width: 1400px;
    box-shadow: 0 0 10px inset black; }
    .main-content-brend-name {
      font-size: 50px;
      text-align: center;
      margin: 0;
      text-decoration: none;
      border: 2px solid #37342A;
      overflow: hidden; }
      .main-content-brend-name-link {
        display: block;
        line-height: 150px;
        text-decoration: none;
        color: #2E2B05; }
        .main-content-brend-name-link:hover {
          background-color: #F1F7E5; }
      .main-content-brend-name-chopard {
        font-family: "KuenstlerSchreibschriftBQ-Bold";
        font-size: 115px; }
      .main-content-brend-name-tm {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 75px; }
      .main-content-brend-name-am {
        font-family: 'Playfair Display', serif; }
      .main-content-brend-name-ch {
        font-family: 'Didot'; }
      .main-content-brend-name-furla {
        font-family: 'Times Roman'; }
      .main-content-brend-name-lanvin {
        font-family: 'Times Roman'; }
      .main-content-brend-name-escada {
        font-family: 'Futura'; }
      .main-content-brend-name-bv {
        font-family: 'Times Roman'; }
      .main-content-brend-name-blumarine {
        font-family: 'Kunstler-Script';
        font-size: 107px; }
      .main-content-brend-name-rc {
        font-family: 'ChaletComprime';
        text-transform: lowercase; }
      .main-content-brend-name-dunhill {
        font-family: 'Thiamine';
        text-transform: lowercase;
        font-size: 110px; }
      .main-content-brend-name-zegna {
        font-family: 'Modern'; }
      .main-content-brend-name-trussardi {
        font-family: 'Times Roman';
        text-transform: uppercase; }
    .main-content-brend:first-child {
      margin: 0; }

/*╨д╤Г╤В╨╡╤А*/
.footer {
  margin-top: 35px;
  display: inline-block;
  width: 100%;
  border-top: 2px solid #37342A; }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .footer-container-facebook {
      background-image: url(images/facebook.png); }
    .footer-container-google {
      background-image: url(images/google_plus.png); }
    .footer-container-instagram {
      background-image: url(images/instagram.png); }
    .footer-container-pinterest {
      background-image: url(images/pinterest.png); }
    .footer-container-twitter {
      background-image: url(images/twitter.png); }
    .footer-container-whatsapp {
      background-image: url(images/whatsapp.png); }
    .footer-container .socials {
      width: 84px;
      height: 84px;
      display: block;
      margin: 30px; }

.designer-info-wrapped-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -7px; }
  .designer-info-wrapped-form-sort {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: calc(50% - 40px); }
    .designer-info-wrapped-form-sort:hover {
      background-color: #e7f1d2; }
    .designer-info-wrapped-form-sort-button {
      margin: 10px;
      width: 200px;
      line-height: 60px;
      font-family: "Modern";
      font-size: 18px;
      background-color: #6A7D44;
      color: #32221a;
      border: none;
      opacity: 0.6;
      transition-duration: 0.6s;
      transform: scale(1); }
      .designer-info-wrapped-form-sort-button:hover {
        opacity: 1;
        transform: scale(1.08); }
      .designer-info-wrapped-form-sort-button:active {
        opacity: 1;
        transform: scale(1.08); }

/*# sourceMappingURL=style.css.map */
